* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	
}
.main {
	display: flex;
	flex-direction: column;
   flex: 1 0 auto;
	.head {
		display: flex;
		background-color: #716e77;
		flex: 0 0 280px;
		color: #fff;
		padding: 20px;
		
	.cover {
			width: 200px;
			height: 200px;
			padding: 20px;
		}
		.description {
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
	}
	.playlist {
		flex: 1 0 auto;
		background-color: yellow;
	}
	
}
.sidebar {
	background-color: #D0DFE6;
	display: flex; 
	flex: 0 0 40px;/*flex superpowers activated! */
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;

    i {
    	font-size: 1em;
    	padding: 20px 0;
    }
}

.playlist {
	background-color: yellow;
}
.btn {
    text-decoration: none;
    background: none;
    color: #fff;
    border: none;
    font-family: sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}
.play, 
.add, 
.more {
	padding-right: 50px;
}

.play::before {
	font-family: "FontAwesome";
	content: '\f04b';
}
.add::before {
	content: '\f067';
}
.more::before {
	content: '\f141';
}
table {
	width: 100%;
}
tr:nth-of-type(odd) {
	background: #D0DFE6;
}
tr:nth-of-type(even) {
	background: #fff;
}
td {
	padding: 20px;
}
td:first-of-type {
	text-align: center;
}

footer { 
	flex: 0 0 90px;
	padding: 11px;
	background-color: #78c0a8;
	display: flex;
	justify-content: space-between;
   
	.footer__cover {
		width: 100px;
		// height: 50%;
		object-fit: contain;
	}

	.footer__description {
		display: flex;
		justify-content: space-between;
		flex: 0 0 15%;
		.info {
			
			display: flex;
			align-items: center;
		
		}
	}
	.commands {
		display: flex;
		justify-content: space-between;
		flex: 0 0 40%;
		align-items: center;
		margin-right: 50px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {

  
}
@media (min-width: 481px) and (max-width: 767px) {
   
}
